.background {
  background-image: linear-gradient(45deg, darkviolet, 40%, black);
  min-height: 100vh;
}

.homeHeader {
  height: 100px;
  color: #D6D5C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.homeBody {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 15px;
}

.homeContainer {
  color: #D6D5C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 35px;
  border-color: #D6D5C9;
  border: solid;

}

.authButton {
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: solid;
  border-color: #D6D5C9;
  color: #D6D5C9;
}

.authButton:hover {
  cursor: pointer;
  border-color: #B9BAA3;
  color: #B9BAA3;
  text-shadow: 0 0 5px currentColor;
  box-shadow: 0 0 5px 0px #B9BAA3;
}

.authHeader {
  height: 100px;
  color: #D6D5C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.authSpacer {
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 35px;
}

.authBody {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  max-width: 400px;
  gap: 10px;
  padding: 30px;
}

.loginRegisterSwitch {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.loginRegisterSwitch:hover {
  border-bottom: solid;
  cursor: pointer;
}