.homeHeader {
  height: 100px;
  background-color: #A22C29;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.homeBody {
  height: calc(100vh - 100px);
  background-color: #0A100D;
  color: #D6D5C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}

.homeH2 {
  padding: 30px;
}

.authButton {
  background-color: #A22C29;
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: solid;
  border-color: #D6D5C9;
}
.authButton:hover {
  border-color: #B9BAA3;
}
