.defaultButton{
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: solid;
  border-color: #D6D5C9;
  color: #D6D5C9;
}
.defaultButton:hover {
  cursor: pointer;
  border-color: #B9BAA3;
  color: #B9BAA3;
  text-shadow: 0 0 5px currentColor;
  box-shadow: 0 0 5px 0px #B9BAA3;
}
.background {
  background-image: linear-gradient(45deg, darkviolet, 40%, black);
  min-height: 100vh;
}

.homeHeader {
  height: 100px;
  color: #D6D5C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.homeBody {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 15px;
}

.homeContainer {
  color: #D6D5C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 35px;
  border-color: #D6D5C9;
  border: solid;

}

.authButton {
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: solid;
  border-color: #D6D5C9;
  color: #D6D5C9;
}

.authButton:hover {
  cursor: pointer;
  border-color: #B9BAA3;
  color: #B9BAA3;
  text-shadow: 0 0 5px currentColor;
  box-shadow: 0 0 5px 0px #B9BAA3;
}

.authHeader {
  height: 100px;
  color: #D6D5C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.authSpacer {
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  height: 35px;
}

.authBody {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  max-width: 400px;
  gap: 10px;
  padding: 30px;
}

.loginRegisterSwitch {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.loginRegisterSwitch:hover {
  border-bottom: solid;
  cursor: pointer;
}

.decksBody {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.decksNav {
  width: 100px;
  height: auto;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.decksList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
  gap: 20px;
  width: calc(100% - 200px);
  height: auto;
  border: solid;
  padding: 10px;
}
.registrationErrorBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(3px) }
  50% { transform: translateX(-3px) }
  75% { transform: translateX(3px) }
  100% { transform: translateX(0) }
 }
.registrationError {
  animation-name: horizontal-shaking;
  animation-duration: 0.25s;

  color: red;
}

.deckCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 110px;
  padding: 5px;
  border: solid;
}
.deckImg {
  max-width: 100%;
  max-height: 100%;
}
.deckContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
}
.deckName {
  font-size: 12px;
}